[MyAD]
Host: MYAD-NAME.example.com
Cacert: certs/my_ca_root.pem
AltNames: *.example.com, foobar.example.com
AdminUser: myad\Administrator
AdminPw: a_very_secret_admin_password

BaseDn: DC=myad,DC=emp,DC=example,DC=com
Filter: (&(objectclass=person)(sn=Foobar))

UserPw: FoobarsSecretPassword
ChangePw: MirkoS0ft
